<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<%= form_for(Message.new) do |f| %>
 <p>名前</p> 
  <%= f.text_field :name %>


 <p>内容</p> 
 <%= f.text_area :body %>
# <textarea cols="40" id="page_content" name="page[content]" rows="20"></textarea>
 
  <%= f.submit class: "btn btn-sm btn-success" %>
<% end %>